<h1> Edit Snippet </h1>

<div>
  <%= @snippet.errors.full_messages.join(', ') %>
</div>

<%= form_for @snippet do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :work %>
    <%= f.text_area :work %>
  </div>
  <%= f.submit "Create New Snippet" %>
<% end %>
